<div class="d-flex align-items-center justify-content-between mb-4 mt-3">
    <h1 class="m-0">Admin</h1>
    <div class="btn-group">
        <a href="@Url.Action("Index", "Pages")" class="btn btn-primary">Website pagina's</a>
        <a href="@Url.Action("Users", "Pages")" class="btn btn-outline-primary">Website users</a>
        <a href="@Url.Action("Settings", "Pages")" class="btn btn-outline-primary">Website instellingen</a>
    </div>
</div>
<div class="container py-4">
<table class="table">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Omschrijving</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Title</td>
            <td>@p.Description</td>
            <td>
                <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", new { id = p.Id })">Aanpassen</a>
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
</table>